package layouts

import (
	tc "github.com/a-h/templ"
	"ego/templ/components"
)

templ AuthLayout(title string, body tc.Component) {
	<!DOCTYPE html>
	<html lang="id">
		@components.Head(title)
		<body>
			<main>
				@body
			</main>
		</body>
	</html>
}